/* @import url(fontawesome-free-6.2.0-web/css/all.min.css); */
@font-face {
  font-family: "timeburnerbold";
  src: url(../fonts/FontsFree-Net-timeburnerbold.ttf);
}
*{
  margin: 0%;
}

body{
  background-color: beige;
  font-family: sans-serif;
}
.header{ 
  padding: 30px;
  background-image: url(../img/images1.jpg), url(../img/gray-background.jpg);
  background-size: cover;
  background-position: center center;
 
}
.top-menu{
  float: left;

}
.nav{
  text-align: right;
}
.nav ul li{
  display: inline;
  padding: 0 15px;
  
}
a{
  text-decoration: none;
  color: gray;
  transition: color .2 ease-in-out;
}
.nav ul li a:hover{
  color: white;
}
.btn{
  padding: 10px 15px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1vw;
  color: #ffff;
}
.btn-gray{
  background-color: #fff;
  color: gray !important;
}
.btn-big{
  font-size: 1.5vw;
  /* padding: 10px 15px; */
}
.btn-blue{
  background-color: rgb(143, 210, 232);
  color: #fff;
}
.banner{
  text-align: center;
  padding: 150px 0px;
  color: #ffff;
}
.banner h2{
  font-size: 4vw;
  line-height: 100px;
}
.banner p{
  font-size: 2vw;
  margin-bottom: 30px;
}
.services{
background-color: lightgray;
border: 1px solid gray;
padding:50px 50px ;
text-align: center;
}

.container h2{
  font-size: 1.5vw;
  margin-bottom: 20px;
}
.container p{
  font-size: 1.5vw;
  margin-bottom: 20px;
  color:gray ;
}
.table-services>*{
  float: left;
}
.tbl{
  padding: 20px 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 15px;
  width:30% ;  
  margin: 0 10px;

}
.tbl:hover{
  box-shadow: 5px 5px 5px gray;
  
}

.icon:before{
  font-family: fontawesome;
  font-style: normal;
  

}
.color-blue{
  background-color: lightblue;
  color: #fff;
}
.color-green{
  background-color: lightgreen;
  color: #fff;
}
.color-pink{
  background-color: palevioletred;
  color: #fff;
}
.big{
  font-size: 20px;
  padding: 24px 28px;
  border-radius: 100px 100px;
  margin-bottom: 10px;
}
.services:after,
.services:before{
  content: "";
  display: block;
  clear: both;
}
.table-services{
  width: 85%;
  position:relative ;
  left: 30px ;
  right: 200px;
  margin: 0 auto;
}
.about{
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}
.about-header h2{
  font-size: 30px;
  margin-bottom: 20px;

}
.about-header p{
  font-size: 30px;
  color: gray;
  margin-bottom: 50px;
}
.about-content{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 60px auto;
  width: 90%;
  padding-top: 60px;

}
.about-content>*{
  float: left;
}
.about-content:after,
.about-content:before{
  content: "";
  display: block;
  clear: both;
}
.profile{
  width: 25%;
  margin-bottom: 30px;
}
.profile img{
  float: left;
  border-radius: 50%;
}
.profile h4{
  margin-top: 20px;
  line-height: 30px;
}
.about-footer{
  /* text-align: center;
  padding: 20px 20px; */
  width: 70%;
  margin: 0 auto;
}
.about-footer p{
  font-size: 20px;
  color: gray;
  line-height: 25px;
  margin-bottom: 50px;

}
.contact{
  background-color: gray;
  color:beige;
  padding: 100px;

}
.contact-header{
  text-align: center;
  width: 65%;
  margin: 0 auto;
}
.contact-header h3{
  font-size: 30px;
  margin-bottom: 25px;
}
.contact-header p{
  margin-bottom: 60px;

}
input[type=text],
input[type=email]{
 border: none;
 border-radius: 5px;
 background-color: #fff;
 padding: 10px 11px;
 width: 25%;
 margin: 0px 5px;
 }
textarea{
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 30px;
  width: 50%;
  margin: 30px 0px;
  height: 200px;

}
.contact-content{
  text-align: center;
  
}
::placeholder{
  font-size: 15px;
  color: gray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.copyright{
  background-color: black;
  padding: 30px 30px;
}
.copyright li{
  color: gray;
  display: inline;
  margin: 0 5px;

}
/* @media screen and (max-width:800px) {
  .services {
   width: 90%;
   padding: 10px 10px;
   margin: 10px 10px;

 }
}
   */

